.infoBox{
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 15px;
  width: 100%;
  background: #00000030;
}
.point{
  width: 30px;
  height: 30px;
  background-color: red;
  border-radius: 15px;
  font-size: 12px;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  z-index: 999;
}
.input {
  border: 1px solid #ccc;
  height: 32px;
  width: 400px;
  margin:0 15px;
  border-radius: 30px;
  padding: 0 10px
}
